#signin{
    padding-top: 130px;
    /* border: 2px solid red; */
}

#men , #women , #kids , #signin {
    padding-top: 120px;
}

.item{
    /* border: 1px solid red; */
padding: 20px;
width: 95%;
}

/* .item:hover{
  border: 1px solid gray;
  border-radius: 10px;
} */

.item img{
    width: 99%;
}

#women .section-heading { 
    margin-bottom: 10px;
}
/* .background-header{
    position: absolute !important;
} */

/* ___________________________________________________________________________ */
/* _______________________sign in container___________________________________ */
.signup_container{
    max-width: 500px;
    padding: 20px;
    box-shadow: 1px 1px 3px gray;
    border-radius: 5px;
}

.signin-btn{
    display: flex;
    justify-content: center;
    padding: 10px;
    /* display: inline-block; */
}

.main-border-button button {
    font-size: 13px;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 25px;
    /* display: inline-block; */
    font-weight: 500;
    transition: all .3s;
    outline: none;
}

.main-border-button button:hover {
    background-color: #fff;
    color: #2a2a2a;
}

/* try */
 .item img  , #women img , #kids img{
    width: 100%;
    transition: 0.5s all ease-in-out;
}

.thumb:hover img {
    transform: scale(1.05);
    margin-bottom: 10px;
}

/* Slider Arrow */
.slick-prev:before {
    content: '←';
}

.homeArrow{
    border: 1px solid pink;
}